.articleDetails {
  min-height: 100%;
}

.skeletons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.avatar {
  margin: 0 auto;
}

.articleInfo {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
}

.avatarWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}
