.profileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.avatar {
  display: flex;
  justify-content: center;
}
